body {
  display: flex;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  background: var(--body-background-default);
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
:root {
  /* body */
  --body-background-dark: #0d1117;
  --body-background-light: #fff;
  --body-background-default: var(--body-background-light);

  /* components */
  --components-background-dark: #4f4f4f;
  --components-background-light: #fff;
  --components-background-default: var(--components-background-light);

  /* card-background */
  --card-background-dark: #2e3035;
  --card-background-light: #d2e1f7;
  --card-background-default: var(--card-background-light);

  /* text */
  --text-color-dark: #fff;
  --text-color-light: #000;
  --text-color-default: var(--text-color-light);

  /* slector */
  --selector-background-dark: #4f4f4f;
  --selector-background-light: #d2e1f7;
  --selector-background-default:  var(--selector-background-light);

  
  /* -webkit-text-stroke-color-dark: #fff;
  -webkit-text-stroke-color-light: #000;
  -webkit-text-stroke-color-default: #000; */
}

